<launch>
    <node pkg="nodelet" type="nodelet" name="lidar_pipeline"  args="manager" output="screen">
        <param name="num_worker_threads" value="1" />
    </node>

    <node pkg="nodelet" type="nodelet" name="OutlierRemoval" args="load lidar_filters/OutlierFilter lidar_pipeline" output="screen" >
        <rosparam command="load" file="$(find lidar_2d_filters)/config/filters.yaml" />
    </node>
</launch>
